<form class="container rounded  p-5 my-5 bg-dark text-white">
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Post Comment</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <button type="button" class="btn btn-light mt-3">Submit Comment</button>
    </form>