<div class="form newcomment-form container rounded p-5 my-5 bg-info  text-white">
  <form> 
    
      <div class="form-group">
        <label for="commentBody">Post Comment</label>
        <textarea class="form-control" id="commentBody" rows="3"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-light mt-3">Submit Comment</button>
      </div>
    
  </form>
</div>