<div class="container rounded  p-5 my-5 bg-dark text-white">
    <h1>{{renderOnePost.comment.userID}}</h1>
    <p>{{renderOnePost.comment.commentBody}}</p>
    <p>Posted by xxxx on MM/DD/YYYY</p>
</div>