<div class="container pt-3">
    <div class="row">
      <div class="col text-center">
        <button class="btn btn-dark">Click here to add post</button>
      </div>
    </div>
  </div>

  <script src="./js/createpost.js"></script>