<div class="container pt-3">
    <div class="row">
      <div class="col text-center">
        <a href="/newpost" class="btn btn-dark">Click here to add post</a>
      </div>
    </div>
  </div>


  <div class="list-group pt-3">

{{#each posts as |post|}}
{{> mypostlistitem}}
{{/each}}

</div>