<div class="form newpost-form container rounded  p-5 my-5 bg-dark text-white">
  <form>
    <div class="form-group">
        <label for="post-title">Post Title</label>
        <textarea placeholder="{{renderOnePost.postTitle}}" class="form-control" id="post-title" rows="1"></textarea>
      </div>
    <div class="form-group">
        <label for="post-body">Post Body</label>
        <textarea placeholder="{{renderOnePost.postBody}}"class="form-control" id="post-body" rows="3"></textarea>
      </div>
      <div class="form-group">
      <button type="submit" class="btn btn-light mt-3">Submit Post</button>
      </div>
  </form>
  <p id="specificId" class="d-none">{{renderOnePost.id}}</p>
    </div>

 <script src="/js/editPost.js"></script>