<div class="container pt-3">
    <div class="jumbotron rounded bg-dark text-light text-center">
      <h1>Sobczyk's Tech Blog</h1>
      <p>Drop a comment on something tech related.</p>
    </div>
    
  </div>

