<div class="container pt-3">
        <div class="row">
          <div class="col text-center">
            <button class="btn btn-dark">Sign Up</button>
            <button class="btn btn-dark">Login</button>
          </div>
        </div>
      </div>